.create-users-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(20, 20, 30); */
}

.create-users-form-title {
  font-size: 40px;
  text-align: center;
}

.create-users-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.create-users-form-input-label {
  color: rgb(203, 202, 202);
}

.create-users-form-input-wrapper {
  position: relative;
}

.user-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgb(203, 202, 202);
}

.create-users-form {
  width: 700px;
  padding: 20px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.create-users-form-input-fullname {
  display: flex;
  gap: 1rem;
}

.create-users-form-input-firstname,
.create-users-form-input-lastname {
  width: 200px;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 5px;
  background-color: rgb(20, 20, 30);
}

.create-users-form-input-age,
.create-users-form-input-gender,
.create-users-form-input-username,
.create-users-form-input-email,
.create-users-form-input-password {
  width: 465px;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 5px;
  background-color: rgb(20, 20, 30);
}

.create-users-form-button {
  padding: 0.5rem 1rem;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 5px;
  background-color: rgb(16, 16, 28);

  cursor: pointer;

  &:hover {
    background-color: rgb(24, 25, 40);
  }
}
