.create-users-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-users-form-title {
  font-size: 40px;
  text-align: center;
}

.create-users-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.create-users-form-input-label {
  color: rgb(203, 202, 202);
}

.create-users-form-input-wrapper {
  position: relative;
}

.create-users-form-select-wrapper {
  position: relative;
}

.user-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgb(203, 202, 202);
}

.user-icon-right-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(203, 202, 202);
}

.user-icon-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(203, 202, 202);

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.create-users-form {
  width: 700px;
  padding: 20px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.create-users-form-input-fullname-container {
  display: flex;
  gap: 1rem;
}

.create-users-form-input-firstname,
.create-users-form-input-lastname {
  width: 200px;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 5px;
  background-color: rgb(20, 20, 30);
}

.create-users-form-select-label {
  color: rgb(203, 202, 202);
}

.user-create-icon-select {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgb(203, 202, 202);
}

.create-users-form-select-role {
  appearance: none;
  width: 510px;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 5px;
  background-color: rgb(20, 20, 30);
}

.create-users-form-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(203, 202, 202);
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.create-users-form-select-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.create-users-form-input-fullname {
  width: 465px;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 5px;
  background-color: rgb(20, 20, 30);
  pointer-events: none;
}

.create-users-form-input-age,
.create-users-form-input-gender,
.create-users-form-input-username,
.create-users-form-input-email,
.create-users-form-input-role,
.create-users-form-input-password {
  width: 465px;
  font-size: 16px;
  padding: 10px 10px 10px 35px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 5px;
  background-color: rgb(20, 20, 30);
}

.create-users-form-button {
  padding: 0.5rem 1rem;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 5px;
  background-color: rgb(16, 16, 28);

  cursor: pointer;

  &:hover {
    background-color: rgb(24, 25, 40);
  }
}
