.users-list-container {
  display: flex;
  flex-direction: column;
}

.users-list-container-hidden {
  display: none;
}

.users-list-title {
  text-align: center;
}

.users-list {
  margin: auto;
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 2.5rem;
  flex-wrap: wrap;
}

.users-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 310px;
  height: 210px;
  padding: 10px;
  border: solid 1px rgb(63, 63, 63);
  border-radius: 10px;
}

.users-list-item-delete {
  background: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  color: rgb(158, 157, 157);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: rgb(255, 0, 0);
  }
}
.users-list-item-edit {
  background: transparent;
  position: absolute;
  right: 30px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  color: rgb(158, 157, 157);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.users-list-item-input {
  font-size: 16px;
  border: none;
  background: transparent;
  border-radius: 5px;
  color: rgb(227, 227, 227);
  padding: 5px;
  width: 200px;
}
